<!doctype html>
<html>
<head>
<meta charset="utf-8">

<link href="{{ url_for('static', filename='/main.css')}}" rel="stylesheet">
</head>
<body>
<div id="container">

<p>
    {% if message %}
        <p style="color:#dc8604d9; font-size: 30px"><b>{{message}}</b></p>
    {% endif %}
    </p>
</body>

<body>
    <h1 style="color:#006055; font-family:'Times New Roman', Times, serif; font-size: 30px">Расчет соотношения матрица-наполнитель</h1>
    <form action="" method="post" style="font-size: 14px" color="#006055">
    <fieldset>
        <legend>Введите параметры</legend>
    <p>
	    <label for="Плотность, кг/м3">Плотность, кг/м3</label>
	    <input type="text" name="Плотность, кг/м3" required>
    </p>
    <p>
	    <label for="модуль упругости, ГПа">Модуль упругости, ГПа</label>
	    <input type="text" name="модуль упругости, ГПа" required>
    </p>
    <p>
	    <label for="Количество отвердителя, м.%">Количество отвердителя, м.%</label>
	    <input type="text" name="Количество отвердителя, м.%" required>
    </p>
    <p>
        <label for="Содержание эпоксидных групп,%_2">Содержание эпоксидных групп,%_2</label>
	    <input type="text" name="Содержание эпоксидных групп,%_2" required>
    </p>
    <p>
        <label for="Температура вспышки, С_2">Температура вспышки, С_2</label>
	    <input type="text" name="Температура вспышки, С_2" required>
    </p>
    <p>
        <label for="Поверхностная плотность, г/м2">Поверхностная плотность, г/м2</label>
	    <input type="text" name="Поверхностная плотность, г/м2" required>
    </p>
    <p>
        <label for="Модуль упругости при растяжении, ГПа">Модуль упругости при растяжении, ГПа</label>
	    <input type="text" name="Модуль упругости при растяжении, ГПа" required>
    </p>
    <p>
        <label for="Прочность при растяжении, МПа">Прочность при растяжении, МПа</label>
	    <input type="text" name="Прочность при растяжении, МПа" required>
    </p>
    <p>
        <label for="Потребление смолы, г/м2">Потребление смолы, г/м2</label>
	    <input type="text" name="Потребление смолы, г/м2" required>
    </p>
    <p>
        <label for="Угол нашивки, град">Угол нашивки, град</label>
	    <input type="number" name="Угол нашивки, град" min='0' max='90' step='1' required>
    </p>
    <p>
        <label for="Шаг нашивки">Шаг нашивки</label>
	    <input type="text" name="Шаг нашивки" required>
    </p>
    <p>
        <label for="Плотность нашивки">Плотность нашивки</label>
	    <input type="text" name="Плотность нашивки" required>
	</p>
    </fieldset>
	<p>
	    <input type="submit" value="Рассчитать">
        <input type="reset">
	</p>
    </form>
    
</body>
<footer>
    <p>
        <a href="{{url_for('choose_prediction_method')}}"><button>Вернуться на главную страницу</button></a>
    </p>
</footer>
</html>
